<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label>Email:</label>
    <input type="email" formControlName="email">
    <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
      Invalid email
    </div>
  
    <label>Password:</label>
    <input type="password" formControlName="password">
    <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
      Password must be at least 6 characters
    </div>

    <div *ngIf="errorMessage!=''">
        Incorrect Details
    </div>
  
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
    No account yet? <a href="/register">Register</a>
</form>
  
