<div class="parent">
  <div class = "child">
    <p>Welcome {{userInfo['username']}}</p>
    <!--<p>Member since {{userInfo['createdAt']|date:'fullDate'}}</p>-->
    <button mat-flat-button [routerLink]="['/portfolio']"> <mat-icon aria-hidden="false" aria-label="Example dashboard icon" fontIcon="dashboard"></mat-icon> Portfolio</button>
    <button mat-flat-button > <mat-icon aria-hidden="false" aria-label="Example list icon" fontIcon="list"></mat-icon> Transactions</button>
    <button mat-flat-button (click)="logout()"> <mat-icon aria-hidden="false" aria-label="Example exit_to_app icon" fontIcon="exit_to_app"></mat-icon> Logout</button>
  </div>
</div>
