<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
        <mat-form-field  class="register-full-width">
            <mat-label>Username:</mat-label>
            <input matInput type="text" formControlName="username">
            <mat-error *ngIf="registerForm.controls['username'].invalid && registerForm.controls['username'].touched">
                Username must be at least 6 characters
            </mat-error>
        </mat-form-field>

        <mat-form-field  class="register-full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched">Invalid email</mat-error>
        </mat-form-field>

        <mat-form-field class="register-full-width">
            <mat-label>Password:</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">
                Password must be at least 6 characters
            </mat-error>
        </mat-form-field>
    
        <div *ngIf="errorMessage!=''">
            Register Error
        </div>
        <button type="submit">Register</button><br>
        Have account already? <a mat-button href="/login">Login</a>
    </form>
</div>
